<?xml version="1.0"?>
<configuration>
  <sitecore>
    <settings>
      <setting name="CognitiveMedia.ApiKey.ComputerVision" value="{YOUR_API_KEY}" />
    </settings>
    <events>
      <event name="item:added">
        <handler type="Sitecore.SharedSource.CognitiveMedia.ImageTagger, Sitecore.SharedSource.CognitiveMedia" method="Tag" />
      </event>
    </events>
  </sitecore>
</configuration>
